:root {
    --main-color: red;
    --textalign: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-color);
    padding: 10px 20px;
    text-align: var(--textalign);
}

h1 {
    color: #000;
}

main {
    padding: 20px;
}

.hero img {
    width: 100%;
    height: auto;
}

.weather, .data {
    margin-top: 20px;
    text-align: var(--textalign);
    background-color: blue;
    border-radius: 10px;
}

.weather img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px; 
    justify-content: center;
}

footer {
    background-color: var(--main-color);
    text-align: var(--textalign);
    padding: 10px 0;
}

footer p {
    color: #000;  
}

@media only screen and (min-width: 1000px) {
    header {
        text-align: var(--textalign);
    }
    .weather img{
        display: none;
    }
    .weather h2::after{
        content: '❤';
        padding: 0.5rem;
    }


    .hero {
        position: relative;
        background-image: url('images/hero-large.webp');
        background-size: cover;
        background-position: var(--textalign);
    }
    .data {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        top: 90%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin-top: 50px;
    }
    .weather {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        top: 80%;
        right: 70%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin-bottom: 50px;
    }
}
