body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    margin: 0;
}

nav {
    display: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
	text-decoration: underline;
}

main {
    padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

figure {
    margin-bottom: 20px;
}

main h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.hamburger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
}

/* Larger view styles */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 15px;
    }
}
